In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("../Data/final_dataset.csv")
dataset.head()

,Code,Country,tourism_employment_per_1000_over_time,food_employment_per_1000_over_time,tourism_gdp_percentage_over_time,business_to_personal_ratio_over_time,avg_stay_days_over_time,inbound_arrivals_over_time,domestic_tourists_over_time,inbound_to_outbound_ratio_over_time,...,Pollution Index_pollution_index,Quality of Life Index_quality_of_life_index,Climate Index_quality_of_life_index,Traffic Index_traffic_index,Time Index(in minutes)_traffic_index,Inefficiency Index_traffic_index,inverse_inefficiency_index,inverse_commute_time_index,inverse_traffic_index,inverse_pollution_index
0,ALB,Albania,15.608840,NaN,NaN,0.021680,2.562741,1793.802738,NaN,NaN,...,77.0,104.3,86.4,114.7,36.7,105.7,0.009461,0.027248,0.008718,0.012987
1,DZA,Algeria,7.411779,NaN,1.129921,1.764563,1.621484,NaN,NaN,NaN,...,63.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.015649
2,AGO,Angola,2.439200,0.710283,NaN,0.111823,4.000000,2.001969,NaN,6.428571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ARG,Argentina,28.270541,11.444930,1.890788,0.140625,2.552286,16.460292,645.361734,0.420933,...,50.8,118.0,98.3,175.4,43.8,190.9,0.005238,0.022831,0.005701,0.019685
4,AUS,Australia,21.464763,7.825559,1.572674,0.280377,2.216665,247.324185,3157.386095,NaN,...,26.8,192.2,93.8,163.0,37.4,237.8,0.004205,0.026738,0.006135,0.037313

In [5]:
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
climate_vs_quality = dataset.pivot_table(index="Climate", columns="Quality of Life", values="value")

KeyError: 'value'